
<table>
  <th><td>Storage id:</td><td>Storage title:</td><td>Storage code:</td><td>Shop id:</td><td>Shop title:</td><td>Shop code:</td></th>
<% @products.each(:as => :hash) do |product|%>
  <tr>
    <td><%= product["storage_id"] %></td>
    <td><%= product["storage_title"] %></td>
    <td><%= product["storage_code"] %></td>
    <td>
      Linked: <%= product["linked"].to_i %> <input type="checkbox" id="<%= product["id"]%>" name="linked" <%= (product["linked"].to_i == 1) ? "checked=\"checked\"" : "" %> />
    </td>
    <td><%= product["shop_model"] %></td>
    <td><%= product["shop_title"] %></td>
    <td><% product["shop_id"] %></td>
  </tr>
<% end %>
</table>

